body {
    max-width: 1020px ;
    min-width: 600px ;
    margin: 0 auto;
}
header {
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 89px;
    background-color: black;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 40px;
    font-size: 24.2902px;
    line-height: 6px;
    color: #FFFFFF;
}

.logo h1 {
    font-size: 24.2902px;
}

.logo span {
    color: #F06C64;
}

.menu {
    margin-right: 28px;
    padding-left: 0px;
    margin-top: 4px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 11px;

}

.menu li {
    padding-right: 13px;
    list-style-type: none;
}
.menu li  {
    color:white;
    font-size:11.6593px;
    line-height: 6px;
}

.menu li:not(.home):before  {
    margin-right: 13px;
    content:"·";
    font-size:15px;
    color: #494E62;
}

.menu li:hover{
    cursor: pointer;
    color:#F06C64;
}

.header-bottom {
    max-width: 1020px;
    height: 7px;
    background-color: #323746;
    margin: 0 auto;
}