body {
    max-width: 1020px ;
    min-width: 900px ;
    margin: 0 auto;
    font-family: 'Lato';
}
header {
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 88px;
    background-color: #2d303a;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 40px;
    font-size: 24.2902px;
    line-height: 6px;
    color: #FFFFFF;
}

.logo h1 {
    font-size: 24.2902px;
}

.logo span {
    color: #F06C64;
}

.menu {
    margin-right: 28px;
    padding-left: 0px;
    margin-top: 4px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 11px;

}

.menu li {
    padding-right: 13px;
    list-style-type: none;
}
.menu li  {
    color:white;
    font-size:11.6593px;
    line-height: 6px;
}

.menu li:not(.home):before  {
    margin-right: 13px;
    content:"·";
    font-size:15px;
    color: #494E62;
}

.menu li:hover{
    cursor: pointer;
    color:#F06C64;
}

.header-bottom {
    max-width: 1020px;
    height: 7px;
    background-color: #323746;
    margin: 0 auto;
}

.slider {
    max-width: 1020px;
    height: 585px;
    display: flex;    
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #f06c64;
}

.slider img {
    margin-top: 2px; /* ради пиксельперфекта опустил изображения */
}
.verticaliphone{
    margin-right: 20px;
}
.slider .left {
    margin-left: 42px;

}
.slider .right {
    transform: rotate(180deg);
    margin-right: 40px;
}
.slider-bottom {
    max-width: 1020px;
    height: 15px;
    background-color: #ea676b;
    margin: 0 auto;
}
.our-services {
    max-width: 1020px;
    margin-left: 40px;
    margin-top: 68px;
    margin-right: 40px;
}
.our-services h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 27px;
}

.our-services .description {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.2px; 
}

.featblock {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 123px 123px 123px;
}
.feat {
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.feat .text {
    padding-left: 20px;
    padding-top: 17px;
    padding-right: 10px;
}
.feat img {
    align-self:start;
    padding-top: 30px;
    padding-left: 1px;

}

.feat h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 0px;
}

.feat p {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    letter-spacing: 0.08px;
    text-align: justify;						 
	text-align-last: left;   
}